* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:black;
}

input[type=submit] {
  background-color: #D8BFD8;
  color: firebrick;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #e6f5bc;
}

.container {
  border-radius: 5px;
  background-color: #E6E6FA;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

#navlist li, #navlist a {
  height: 44px;
  display: block;
}

#home {
  left: 0px;
  width: 46px;
  background: url('home.jpg') 0 0;
}

#prev {
  left: 63px;
  width: 43px;
  background: url('leftarrow.jpg') -47px 0;
}

#next {
  left: 129px;
  width: 43px;
  background: url('right.png') -81px 0;
}
.home {
  width:30px;
  height:30px;
}
.prev {
  width:35px;
  height:35px;
}
.next{
  width:1px;
  height:1px;
}